.firstTitle{
    font-weight: normal;
    font-size: 400%;
    color: antiquewhite;
    margin: 0;
   

}

.subTitle{
    margin: 4%;
    font-weight: normal;
    font-size: 250%;
    color: antiquewhite;
    
    
}